{% extends "base.html" %}

{% load crispy_forms_filters %}

{% with show_sidebar=False %}
{% block content %}
<div class="login-container">
  {% if form.errors %}
    <div class="error-message">
    <p>Your username and password didn't match. Please try again.</p>
    </div>
  {% endif %}

  <h1>Login</h1>

  {% if next %}
    <div class="next-message">
    <p>Please login to see this page.</p>
    </div>
  {% endif %}

<form method="post" action="{% url 'login' %}">
  {% csrf_token %}
  {{ form|crispy }}

  <input type="submit" value="Login" class="btn btn-primary" />
  <input type="hidden" name="next" value="{{ next }}" />
</form>
</div>

{% endblock %}
{% endwith %}
