<ul class="sidebar-nav list-group">
  {% if user.is_authenticated %}
    {% if user.profile %}
      <li class="sidebar">
        User: <a href="{% url 'sports_app:profile-detail' pk=user.profile.id %}">{{ user.get_username }}</a>
      </li>
      <li class="sidebar">
        <form action="{% url 'logout' %}" method="post">
          {% csrf_token %}
          <button type="submit">Logout</button>
        </form>
      </li>
    {% else %}
      <li class="sidebar">
        User: <a href="{% url 'sports_app:profile-form' %}">{{ user.get_username }}</a>
      </li>
      <li class="sidebar">
        <form action="{% url 'logout' %}" method="post">
          {% csrf_token %}
          <button type="submit">Logout</button>
        </form>
      </li>
    {% endif %}
  {% else %}
    <li class="sidebar">
      <a href="{% url 'login'%}?next={{request.path}}" class="login-link">Login</a>
    </li>
    <li class="sidebar">
      <a href="{% url 'sports_app:user-register'%}?next={{request.path}}" class="signup-link">Sign up</a>
    </li>
  {% endif %}

</ul>
